name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches:
      - main

jobs:
  ci:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build image and run make ci-build in dev container
        uses: devcontainers/ci@v0.3
        env:
          IMAGE: ghcr.io/wujiayi101/devcontainer_demo_golang
        with:
          imageName: ${{ env.IMAGE }}
          cacheFrom: ${{ env.IMAGE }}
          push: always
          runCmd: |
            make test
            make ci
